* {
	margin:0;
	padding: 0;
}

@font-face {
  font-family: "roverd";
  src: url("../fonts/roverd.otf");
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.vFull {
	height: 100vh;
	overflow: hidden;
}

.vFullOverflowAuto {
	height: 100vh;
	overflow: auto;
}

.vFullShow {
	height: 100vh;
}

.pvFull {
	height: 100%;
}

.pvFullOverflowAuto {
	height: 100%;
	overflow: auto;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
	width: 100%;
}

.navText{
	font-family: 'Raleway', sans-serif;
	color: white;
	text-decoration: none;
}

.navText:hover{
	font-family: 'Raleway', sans-serif;
	color: white;
	text-decoration: none;
}

.navText:hover::after{
	content:'';
	display: block;
	height: 2px;
	left: 0;
	right: auto;
	width: 100%;
	background-color: white;
}

.navText::after{
	content:'';
	display: block;
	position: absolute;
	height: 2px;
	right: 0;
	width: 0;
	background-color: white;
	transition-property: width;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.navUl {
	list-style: none;
}

.navLi {
	display: inline-block;
	position: relative;
	padding: 0px 15px;
}

.nav-black {
	background-color: rgba(0,0,0,.5);
	transition: .2s;
}

.logo {
	font-family:"roverd", 'Raleway', sans-serif;
	font-size: 2.5em;
}

.header-title {
	font-family: 'Raleway', sans-serif;
	font-size: 3em;
}

.header-text {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	font-weight: 100;
}

.bgHead {
	background-image: url(../images/bg.png);
	background-size: cover;	
	background-position: fixed;
}

.mCtitle {
	background-color: white;
	color: #1C97FE;
	opacity: 1;
}

.btnDisabled{
	background-color: white;
	height: 3px;
	width: 0px;
	transition: 1s ease;
}

.btnDisabled:hover{
	background-color: white;
	height: 3px;
	width: 100px;
}

.roverdFont {
	font-family: 'roverd', 'Raleway', sans-serif;
	font-size: 5em;
	background: -webkit-linear-gradient(top, #00AAff, #0055ff);
	background: linear-gradient(top, #00AAff, #0055ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.roverdFontWhite {
	font-family: 'roverd', 'Raleway', sans-serif;
	font-size: 6em;
	background: -webkit-linear-gradient(top, #fff, #b0b0b0);
	background: linear-gradient(top, #fff, #b0b0b0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.video-container{
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.video-class {
	min-width: 100%; 
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: .8;
}

.blue-opacity{
	position: absolute;
	width: 100%;
	left: 0;
	margin: 0;
	background-color:rgba(0,119,255,.75);
}

.whitePoly{
	background-color: white;
}

.clp-ph {
	overflow: hidden;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 27% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 27% 100%);
}

.tinyRaleway {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-weight: 100;
	color: #0077ff;
}

.btn-strike {
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	background: transparent;
	border: 1px solid #007bff;
	padding: 10px 20px;
	z-index:1;
	letter-spacing: 1px;
	overflow: hidden;
}

.btn-strike:hover {
	border: 1px solid #007bff;
}

.btn-strike:before {
	position: absolute;
	content:'';
	top: 0;
	height: 100%;
	right: 0;
	width: 0;
	background-color: #007bff;
	transition-property: width;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
	z-index: -1;
	overflow: hidden;
}

.btn-strike:hover:before {
	content:'';
	display: block;
	height: 100%;
	left: 0;
	top: 0;
	right: auto;
	width: 100%;
	z-index: -1;
}

.btn-strike span {
	color:#007bff;
	transition: .2s ease-out;
	z-index: 1;
}

.btn-strike:hover span {
	color: white;
}

.btn-strike-white {
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	background: transparent;
	border: 1px solid white;
	padding: 10px 20px;
	z-index:1;
	letter-spacing: 1px;
	overflow: hidden;
}

.btn-strike-white:hover {
	border: 1px solid white;
}

.btn-strike-white:before {
	position: absolute;
	content:'';
	top: 0;
	height: 100%;
	right: 0;
	width: 0;
	background-color: white;
	transition-property: width;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
	z-index: -1;
	overflow: hidden;
}

.btn-strike-white:hover:before {
	content:'';
	display: block;
	height: 100%;
	left: 0;
	top: 0;
	right: auto;
	width: 100%;
	z-index: -1;
}

.btn-strike-white span {
	color: white;
	transition: .2s ease-out;
	z-index: 1;
}

.btn-strike-white:hover span {
	color: #007bff;
}

.bgOne {
	background-image: url(../images/bgOne.png);
	background-size: cover;	
	background-position: fixed;
	transition: .2s ease;
	z-index: 0;
	position: relative;
	margin: 0;
	padding: 0;
}

.bgOne:hover {
	background-image: url(../images/bgOne.png);
	background-size: cover;	
	background-position: fixed;
	box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.5);
	z-index: 1;
}

.bgTwo {
	background-image: url(../images/bgTwo.png);
	background-size: cover;	
	background-position: fixed;
	transition: .2s ease;
	z-index: 0;
	position: relative;
	margin: 0;
	padding: 0;
}

.bgTwo:hover {
	background-image: url(../images/bgTwo.png);
	background-size: cover;	
	background-position: fixed;
	box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.5);
	z-index: 1;
}

.bgOverlay {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(0,153,255,.9);
	transition: .2s ease;
}

.bgOverlay:hover {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(0,153,255,.5);
}

.copyright {
	font-family: 'Raleway', sans-serif;
	font-size: .8em;
	color: #fff;
	letter-spacing: .5px;
	font-weight: 100;
}

.ralewayP {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-weight: 100;
	color:#fff;
}

/*==========================================================*/
/*							Media Query						*/
/*==========================================================*/



/*====================Media Query: col-lg====================*/
@media (min-width: 993px) {
	.tinyRaleway {
		font-family: 'Raleway', sans-serif;
		font-size: 1.25em;
		font-weight: 100;
		color: #0077ff;
	}
}

/*====================Media Query: col-md====================*/
@media (max-width: 767px) {
	  .logo {
		font-family:"roverd", 'Raleway', sans-serif;
		font-size: 2.25em;
	}

	.header-title {
		font-family: 'Raleway', sans-serif;
		font-size: 1.25em;
		letter-spacing: .4pt;
		font-variant: small-caps;
	}

	.header-text {
		font-family: 'Raleway', sans-serif;
		font-size: 1em;
		font-weight: 100;
	}

	.navLi {
		display: block;
		padding: 0px;
	}

	.navText:hover{
		font-family: 'Raleway', sans-serif;
		color: white;
		text-decoration: none;
	}

	.navText:hover::after{
		content:'';
		display: block;
		height: 0px;
		left: 0;
		right: auto;
		width: 0%;
		background-color: white;
	}

	.navText::after{
		content:'';
		display: block;
		position: absolute;
		height: 0px;
		right: 0;
		width: 0;
		background-color: white;
		transition-property: width;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
	}

	.nav-black {
		background-color: rgba(0,0,0,0);
	}
	
	.nav-black-md {
		background-color: rgba(0,0,0,.5);
	}

	.clp-ph {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}

	.roverdFont {
		font-family: 'roverd', 'Raleway', sans-serif;
		font-size: 4.5em;
		color:#FFFFFF;
		background: -webkit-linear-gradient(top, #ffffff, #ffffff);
		background: linear-gradient(top, #ffffff, #ffffff);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.roverdFontWhite {
		font-size: 4.5em;
	}

	.whitePoly{
		background-color: transparent;
	}

	.tinyRaleway {
		font-family: 'Raleway', sans-serif;
		font-size: 1em;
		font-weight: 100;
		color: #fff;
	}

	.btn-strike {
		font-size: 1.25em;
		border: 1px solid #fff;
	}

	.btn-strike:hover {
		border: 1px solid #fff;
	}

	.btn-strike:before {
		background-color: #fff;
	}
	.btn-strike span {
		color:#fff;
	}

	.btn-strike:hover span {
		color: #007bff;
	}

	.btn-strike-white {
		font-size: 1.25em;
	}
}

/*====================Media Query: col-sm====================*/
@media (max-width: 575px) {
	.logo {
		font-family:"roverd", 'Raleway', sans-serif;
		font-size: 2em;
	}
	.header-title {
		font-family: 'Raleway', sans-serif;
		font-size: 1em;
		letter-spacing: .3;
		font-variant: small-caps;
	}

	.header-text {
		font-family: 'Raleway', sans-serif;
		font-size: 0.8em;
		font-weight: 100;
	}

	.navLi {
		display: block;
		padding: 5px 0px;
	}

	.navText:hover::after{
		content:'';
		display: block;
		height: 0px;
		left: 0;
		right: auto;
		width: 0%;
		background-color: white;
	}

	.navText::after{
		content:'';
		display: block;
		position: absolute;
		height: 0px;
		right: 0;
		width: 0;
		background-color: white;
		transition-property: width;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
	}

	.roverdFont {
		font-family: 'roverd', 'Raleway', sans-serif;
		font-size: 4em;
		color:#FFFFFF;
	}

	.roverdFontWhite {
		font-size: 4em;
	}

	.tinyRaleway {
		font-family: 'Raleway', sans-serif;
		font-size: .9em;
		font-weight: 100;
		color: #fff;
	}

	.bgOverlay {
		background-color: rgba(0,153,255,.5);
	}
	.copyright {
		font-size: .7em;
	}
}

/*====================title exception====================*/
@media (max-width: 315px) {
	.logo {
		font-family:"roverd", 'Raleway', sans-serif;
		font-size: 1.5em;
	}

	.btn-strike {
		display: none;
	}

	.btn-strike-white {
		display: none;
	}

	.tinyRaleway {
		font-size: .8em;
	}

	.roverdFont {
		font-size: 3em;
	}

	.roverdFontWhite {
		font-size: 3em;
	}
}

/*==========================================================*/
/*							Keyframes						*/
/*==========================================================*/
